<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"
      rel="stylesheet"
    />
		<style is:global>
			* {
				margin: 0;
				font-family: "Noto Sans TC";
			}
		</style>
	</head>
	<body>
		<main>
			<div class="text-[50px]">Hello, React!</div>
		</main>
	</body>
</html>